In [1]:
print("hope ai")

hope ai

In [2]:
print=str(input("enter the institue name?: "))

enter the institue name?: gh

In [3]:
print=str(input("enter your name:" ))
print=int(input("enter your age:" ))
print=str(input("enter your school namer:" ))
print=str(input("enter your degree:" ))

enter your name:syed
enter your age:25
enter your school namer:bss
enter your degree:hsc

In [4]:
name=input("enter your name:")
age=input("enter your age:")
school=input("enter your school:")
degree=input("enter your degree:")
print=("enter your name:", name)
print=("enter your age:",  age)
print=("enter your school:", school)
print=("enter your degree:", degree)

enter your name:syed
enter your age:225
enter your school:lk
enter your degree:3

In [5]:
name=input("enter your name:")
age=input("enter your age:")
school=input("enter your school:")
degree=input("enter your degree:")
print=("enter your name:")
print=("enter your age:")
print=("enter your school:")
print=("enter your degree:")

enter your name:syed
enter your age:56
enter your school:hf
enter your degree:hj

In [3]:
a=43
b=34
add=a+b
print("a=",a)
print("b=",b)
print("add=",add)

a= 43
b= 34
add= 77

In [4]:
a=43
b=34
sub=a-b
print("a=",a)
print("b=",b)
print("sub=",sub)

a= 43
b= 34
sub= 9

In [5]:
a=43
b=34
mul=a*b
print("a=",a)
print("b=",b)
print("mul=",mul)

a= 43
b= 34
mul= 1462

In [6]:
a=43
b=34
div=a/b
print("a=",a)
print("b=",b)
print("float div=",div)

a= 43
b= 34
float div= 1.2647058823529411

In [7]:
a=43
b=34
div=a//b
print("a=",a)
print("b=",b)
print("floor division=",div)

a= 43
b= 34
floor division= 1

In [8]:
a=43
b=34
modulo=a%b
print("a=",a)
print("b=",b)
print("modulo=",modulo)

a= 43
b= 34
modulo= 9

In [11]:
a=43
b=34
pow=(a, b)
print("a=",a)
print("b=",b)
print("power=",power)

a= 43
b= 34
power= (43, 34)